* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Karla', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Markazi Text', serif;
  font-weight: bold;
}

.light-text {
  color: white;
}

.overlap-images {
  position: relative;
  width: 100%;
}

#one-chef {
  position: absolute;
  transform: scale(0.8) translate(0, -75%);
  max-width: 300px;
}

#two-chefs {
  position: absolute;
  z-index: 100;
  transform: scale(0.8) translate(50%, -25%);
  max-width: 300px;
}

@media (max-width: 1000px) {
  .overlap-images {
    position: static;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #one-chef {
    position: static;
    transform: none;
  }

  #two-chefs {
    position: static;
    z-index: 100;
    transform: none;
  }
}

section {}

.hero,
.testimonials {
  background-color: #495E57;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  padding: 0;
}

a:hover {
  opacity: 50%;
  transition: 0.2s;
}

.yellow-btn {
  background-color: #F4CE14;
  padding: 10px;
  border: none;
  border-radius: 3em;
}

form {
  max-width: 500px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.error {
  color: red;
  border-color: red;
  ;
}

.review-img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

ul {
  padding-left: 0 !important;
}

footer {
  padding-top: 20px;
  background-color: #495E57;
  display: flex;
}